# Dependency directories
node_modules

# Build output
/dist
/build
/out

# Version control directories
.git

# Logs
*.log

# Other common directories to ignore
/public
/assets

# Configuration files
*.json

# Minified files
# Source maps
*.map

# Image files
*.jpeg
src/apis/*
src/models/*
